body {
  width: 60em;
  margin: 0 auto;
}

section {
  padding: 2em;
  margin: 1em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "green-area green-area green-area"
    "yellow-area red-area blue-area"
    "yellow-area red-area blue-area"
    "orange-area orange-area blue-area";
}

#green {
  background-color: #8ffda7;
  grid-area: green-area;
}

#orange {
  background-color: #ffc788;
  grid-area: orange-area;
}

#yellow {
  background-color: #ffff92;
  grid-area: yellow-area;
}

#red {
  background-color: #ff919c;
  grid-area: red-area;
}

#blue {
  background-color: #98d2ff;
  grid-area: blue-area;
}

ul {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

li {
  background-color: white;
  padding: 1em;
  display: block;
  margin: 1em;
}
