:root {
  --black: #011212;
  --width: 100px;
  --height: 100px;
  --orange: #ff8800;
  --b-radius: 50px;
}

body {
  background-color: var(--black);
}

.ball {
  width: var(--width);
  height: var(--height);
  background-color: var(--orange);
  border-radius: var(--b-radius);
}
