#container {
  border: solid 1px rgba(151, 151, 151, 0.416);
  width: 60%;
  border-radius: 10px;
}

p,
h1,
#links {
  border-bottom: solid 1px rgba(151, 151, 151, 0.416);
  padding: 2vh 2vh;
}

#image_container {
  background-color: rgb(131, 143, 131);
  margin: 0px 0px;
  padding: 0px 0px;
  height: 100%;
}
